@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

body {
  font-family: 'Brygada 1918', serif;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto; }

.d-flex {
  display: flex;
  flex-wrap: wrap; }

a {
  text-decoration: none;
  color: #232323; }

.sb {
  justify-content: space-between;
  align-items: center; }

.fe {
  justify-content: flex-end; }

.jc {
  justify-content: center; }

.w-50 {
  width: 50%;
  padding: 3.25rem 0; }

ul li {
  list-style-type: none; }

@media (max-width: 768px) {
  .w-50 {
    width: 100%;
    justify-content: center;
    padding: 1rem; } }

.menu {
  padding: 0.5rem 1rem;
  position: fixed;
  background-color: #fff;
  min-height: 60px;
  right: 0;
  left: 0;
  z-index: 50;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; }
  .menu__bar {
    width: 40px;
    height: auto; }
  .menu__logo {
    z-index: 50; }
    .menu__logo h1 {
      font-size: 2.5rem; }

.toggle {
  position: relative;
  padding: 1.5rem; }

.menu-toggle {
  position: absolute;
  right: 1.5rem;
  top: 49%;
  transform: translate(0, -50%);
  height: 26px;
  width: 32px; }
  .menu-toggle, .menu-toggle:hover {
    color: #000; }

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  transition: all 0.3s ease; }
  .menu-toggle-bar.menu-toggle-bar--top {
    transform: translate(0, -8px); }
  .menu-toggle-bar.menu-toggle-bar--bottom {
    transform: translate(0, 8px); }
  .nav-open .menu-toggle-bar.menu-toggle-bar--top {
    transform: translate(0, 0) rotate(45deg); }
  .nav-open .menu-toggle-bar.menu-toggle-bar--middle {
    opacity: 0; }
  .nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
    transform: translate(0, 0) rotate(-45deg); }

@media (max-width: 576px) {
  .menu__logo h1 {
    font-size: 1.5rem; } }

.common {
  background-image: url(../images/dots.svg);
  background-repeat: repeat;
  background-size: 30px 30px;
  padding-top: 9rem;
  padding-bottom: 3rem;
  position: relative; }
  .common__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8; }

.herosection__img {
  width: 50%;
  z-index: 2; }
  .herosection__img img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover; }

.herosection__text {
  width: 50%;
  z-index: 2;
  transform: translate(-12%, -5rem); }
  .herosection__text--wrapper {
    background-color: #98dee8;
    padding: 6rem 3.25rem; }
    .herosection__text--wrapper h2 {
      font-size: 4.4rem;
      line-height: 1.1;
      font-weight: 400;
      margin-bottom: 1rem; }
    .herosection__text--wrapper p {
      font-size: 1rem;
      line-height: 1.5;
      color: #232323; }

@media (max-width: 960px) {
  .herosection {
    padding-top: 4rem; }
    .herosection__img {
      width: 100%; }
      .herosection__img img {
        display: block;
        width: 100%; }
    .herosection__text {
      width: 100%;
      transform: none; }
      .herosection__text--wrapper {
        padding: 3.25rem; } }

@media (max-width: 768px) {
  .herosection__text--wrapper h2 {
    font-size: 3rem; } }

@media (max-width: 576px) {
  .herosection__text--wrapper h2 {
    font-size: 1.5rem; }
  .herosection {
    padding-top: 4rem; }
    .herosection__img {
      width: 100%; }
      .herosection__img img {
        display: block;
        width: 100%; }
    .herosection__text {
      width: 100%;
      transform: none; }
      .herosection__text--wrapper {
        padding: 3.25rem; } }

.assessment {
  background-image: url(../images/dots.svg);
  background-repeat: repeat;
  background-size: 30px 30px;
  padding-top: 0; }
  .assessment h3 {
    font-size: 8.75rem;
    line-height: 1.1;
    color: #a478aa;
    text-align: left;
    z-index: 3;
    position: relative;
    transform: translateY(8rem);
    padding: 1rem; }
  .assessment p.c-bg {
    z-index: 2;
    flex: 0 1 50%;
    position: relative;
    background-color: #4f2e53;
    padding: 8rem 3rem 3rem;
    margin: 1rem;
    color: #ffd8db;
    margin-top: 3rem; }

@media (max-width: 992px) {
  .assessment h3 {
    font-size: 7rem;
    margin-bottom: -3rem; } }

@media (max-width: 960px) {
  .assessment p.c-bg {
    padding: 6rem 1.5rem 2rem;
    margin-top: 0; }
  .d-block {
    display: block; }
  .assessment h3 {
    transform: none; } }

@media (max-width: 768px) {
  .assessment h3 {
    font-size: 4rem; } }

@media (max-width: 540px) {
  .assessment h3 {
    font-size: 3rem; } }

.better {
  padding-top: 5rem;
  padding-bottom: 3rem; }
  .better__text {
    flex: 1 1 50%;
    position: relative;
    z-index: 2;
    padding-right: 2.25rem; }
  .better__img {
    flex: 1 1 50%;
    position: relative;
    z-index: 2;
    padding-left: 2.25rem; }
    .better__img h5 {
      font-size: 4.4rem;
      line-height: 1.1;
      font-weight: 400;
      margin-bottom: 3rem; }
    .better__img img {
      width: 80%;
      object-fit: cover; }

@media (max-width: 768px) {
  .better {
    padding-top: 0; }
    .better__text {
      flex: 0 0 100%;
      padding-right: 0; }
    .better__img {
      flex: 0 0 100%;
      order: -1;
      padding-left: 0; }
      .better__img h5 {
        font-size: 3.5rem; }
      .better__img img {
        width: 100%; } }

@media (max-width: 576px) {
  .better__img h5 {
    font-size: 2.5rem; } }

.move {
  padding-top: 0; }
  .move__tittle {
    position: relative;
    z-index: 2; }
    .move__tittle h3 {
      margin-left: 3rem;
      font-family: 'Brygada 1918', serif;
      font-size: 8.75rem;
      line-height: 1.1;
      font-weight: 300;
      transform: translateY(6rem); }
    .move__tittle--para {
      width: 50%;
      padding: 8rem 3rem 2rem;
      margin: 1rem;
      background-color: #ffe885; }
      .move__tittle--para p {
        font-size: 16px; }

@media (max-width: 960px) {
  .move {
    padding-bottom: 0; }
    .move__tittle h3 {
      transform: none; }
    .move__tittle--para {
      width: 100%;
      padding: 1rem; } }

@media (max-width: 576px) {
  .move__tittle h3 {
    font-size: 4rem; } }

.john {
  padding-top: 5rem;
  padding-bottom: 3rem; }
  .john__text {
    flex: 1 1 50%;
    position: relative;
    z-index: 2;
    padding: 0 2rem; }
    .john__text h2 {
      font-size: 4.4rem;
      line-height: 1.1;
      margin-bottom: 0.75rem; }
  .john__img {
    flex: 1 1 50%;
    position: relative;
    z-index: 2;
    text-align: center; }
    .john__img img {
      border-radius: 50%;
      width: 298px;
      height: 298px;
      object-fit: cover; }

@media (max-width: 960px) {
  .john {
    padding-top: 1rem; }
    .john__text {
      flex: 0 0 100%; }
    .john__img {
      flex: 0 0 100%;
      padding: 2rem 1rem;
      order: -1; } }

@media (max-width: 576px) {
  .john__img img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover; } }

.card-section {
  padding-top: 6rem;
  padding-bottom: 3rem; }
  .card-section__tittle {
    position: relative;
    z-index: 2; }
    .card-section__tittle h4 {
      font-family: 'Brygada 1918', serif;
      font-size: 2.5rem;
      line-height: 1.5;
      color: #232323;
      text-align: center; }
  .card-section__card {
    position: relative;
    z-index: 2;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .card-section__card--carditem {
      width: 33.33%;
      padding: 0 16px;
      padding-bottom: 2rem; }
      .card-section__card--carditem .img-card {
        height: 200px;
        overflow: hidden; }
        .card-section__card--carditem .img-card img {
          width: 100%;
          height: 100%;
          transition: all 0.3s linear; }
      .card-section__card--carditem .card-bg p {
        padding: 2rem 2rem 0;
        margin-bottom: 1rem;
        font-weight: 400; }
      .card-section__card--carditem .bg-1 {
        background-color: #e38888; }
      .card-section__card--carditem .bg-2 {
        background-color: #ffe885; }
      .card-section__card--carditem .bg-3 {
        background-color: #98dee8; }
      .card-section__card--carditem .card-cta {
        padding: 0 2rem 1.75rem 1.75rem;
        margin-top: 1rem; }
        .card-section__card--carditem .card-cta a {
          background-color: transparent !important;
          border-color: #232323;
          color: #232323;
          border: 1px solid;
          font-weight: 600;
          border-width: 1px;
          font-style: normal;
          white-space: normal;
          transition: all 0.2s ease-in-out;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          word-break: break-word;
          padding: 0.5rem 0.75rem;
          position: relative; }
          .card-section__card--carditem .card-cta a::after {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            height: 100%;
            opacity: 0;
            transition: 0.3s;
            content: url(../images/download.svg); }
          .card-section__card--carditem .card-cta a:hover::after {
            right: -3px;
            opacity: 1; }
          .card-section__card--carditem .card-cta a:hover {
            padding-right: 42px; }

.card-section__card--carditem:hover .img-card img {
  transform: scale(1.1); }

@media (max-width: 990px) {
  .card-section__card--carditem {
    width: 50%; } }

@media (max-width: 768px) {
  .card-section {
    padding-bottom: 1rem;
    padding-top: 1rem; }
    .card-section__card--carditem {
      width: 100%; } }

.bg-image {
  background-image: url(../images/mbr-1920x1280.jpeg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative; }
  .bg-image__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    background-color: black; }
  .bg-image__text h3 {
    color: white;
    font-size: 4.4rem;
    line-height: 1.1;
    text-align: center; }

@media (max-width: 576px) {
  .bg-image__text h3 {
    font-size: 2.5rem; } }

.partner {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .partner__text {
    width: 60%;
    padding: 3.25rem;
    position: relative;
    z-index: 2; }
    .partner__text h3 {
      font-size: 2.5rem;
      line-height: 1.5;
      margin-bottom: 3rem; }
  .partner__card {
    width: 40%;
    position: relative;
    z-index: 2;
    background-color: #98dee8; }
    .partner__card .item-content {
      padding: 3.25rem 3.25rem 2.25rem; }
      .partner__card .item-content p {
        text-align: left;
        font-weight: 400; }

@media (max-width: 990px) {
  .partner {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .partner__text {
      width: 100%;
      padding: 1rem; }
    .partner__card {
      width: 100%; }
      .partner__card .item-content {
        padding: 1rem; } }

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #98dee8; }
  .footer__tittle h4 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5; }

.icon i {
  padding: 8px;
  border-radius: 50%;
  color: #98dee8;
  background: #40b0bf;
  font-size: 1.5rem;
  transition: background 0.3s linear;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  transition: 0.2s; }
  .icon i:hover {
    opacity: .8; }

@media (max-width: 768px) {
  .icon {
    text-align: center; } }

.navigation {
  display: none;
  height: 50vh;
  overflow: auto; }
  .navigation__card {
    margin-top: 2rem; }
    .navigation__card--item {
      width: 33.33%;
      padding: 0 16px;
      padding-bottom: 2rem; }
      .navigation__card--item h6 {
        font-family: 'Brygada 1918', serif;
        font-size: 20px;
        line-height: 1.5;
        padding: 0.5rem 1rem;
        font-weight: 300;
        margin-bottom: 1rem; }
      .navigation__card--item ul li a {
        padding: 0.5rem 1rem;
        display: block;
        text-transform: capitalize; }

.d-none {
  display: none; }

.navigation.active {
  display: block; }

@media (max-width: 990px) {
  .navigation__card--item {
    width: 50%; } }

@media (max-width: 768px) {
  .navigation {
    padding-bottom: 1rem;
    padding-top: 1rem; }
    .navigation__card--item {
      width: 100%; } }
