* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
// --------font------------
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;1,700&display=swap');
body {
  font-family: 'Brygada 1918', serif;
  line-height: 1.5;
}
// ----------------font-awesome-----------
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
// ----------variables-----------
$onecolor: #98dee8;
$twocolor: #a478aa;
$threecolor: #ffe885;
$fourcolor: #e38888;
$textcolor: #232323;
// ------------variables-ends-------------
img {
  max-width: 100%;
  height: auto;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: $textcolor;
}
.sb {
  justify-content: space-between;
  align-items: center;
}
.fe {
  justify-content: flex-end;
}
.jc {
  justify-content: center;
}
.w-50 {
  width: 50%;
  padding: 3.25rem 0;
}
ul {
  li {
    list-style-type: none;
  }
}
// ---------MEDIA-QUERIES-----------------
@media (max-width: 768px) {
  .w-50 {
    width: 100%;
    justify-content: center;
    padding: 1rem;
  }
}
