.john {
  padding-top: 5rem;
  padding-bottom: 3rem;
  &__text {
    flex: 1 1 50%;
    position: relative;
    z-index: 2;
    padding: 0 2rem;
    h2 {
      font-size: 4.4rem;
      line-height: 1.1;
      margin-bottom: 0.75rem;
    }
  }
  &__img {
    flex: 1 1 50%;
    position: relative;
    z-index: 2;
    text-align: center;
    img {
      border-radius: 50%;
      width: 298px;
      height: 298px;
      object-fit: cover;
    }
  }
}

// ---------MEDIA-QUERIES-----------------
@media (max-width: 960px) {
  .john {
    padding-top: 1rem;
    &__text {
      flex: 0 0 100%;
    }
    &__img {
      flex: 0 0 100%;
      padding: 2rem 1rem;
      order: -1;
    }
  }
}
@media (max-width: 576px) {
  .john {
    &__img {
      img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
