.move {
  padding-top: 0;
  &__tittle {
    position: relative;
    z-index: 2;

    h3 {
      margin-left: 3rem;
      font-family: 'Brygada 1918', serif;
      font-size: 8.75rem;
      line-height: 1.1;
      font-weight: 300;
      transform: translateY(6rem);
    }
    &--para {
      width: 50%;
      padding: 8rem 3rem 2rem;
      margin: 1rem;
      background-color: $threecolor;
      p {
        font-size: 16px;
      }
    }
  }
}
// ------------------MEDIA---QUERIES-----------------
@media (max-width: 960px) {
  .move {
 padding-bottom: 0;
    &__tittle {
        h3{
            transform: none;
        }
      &--para {
        width: 100%;
        padding: 1rem;
      }
    }
  }
}
@media (max-width: 576px) {
    .move {
        &__tittle {
          h3{
            font-size: 4rem;
          }
        }
      }
    
    }
  